{% extends "base.twig" %}

{% block content %}
<div class="mandlarge">
    <div class="mandhoofding">
        Winkelmandje
    </div>
    <div class="mandinhoud">
        <table class="table">
            <tr>
                <th>Naam</th>
                <th>Omschrijving</th>
                <th>Korting</th>
                <th>Prijs</th>
                <th>Aantal</th>
                <th>Subtotaal</th>
                <th></th>
            </tr>
            {% if mandje.bestelregelArr is defined and mandje.bestelregelArr != empty %}
                {% for bestelregel in mandje.bestelregelArr %}
                    <tr class="producttr">
                        <td>{{bestelregel.Product.naam}}</td>
                        <td>{{bestelregel.Product.omschrijving}}</td>
                        <td>{{bestelregel.Product.korting}}</td>
                        <td>{{bestelregel.Product.basisprijs}}</td>
                        <td>{{bestelregel.Aantal}}</td>
                        <td>{{bestelregel.Subtotaal}}</td>
                        <td><a href="?verwijder={{loop.index0}}">Verwijder</a></td>
                    </tr>
                    {% if bestelregel.getProduct.ArrExtras is defined and bestelregel.getProduct.arrExtras != empty %}
                        
                            {% for extra in bestelregel.getProduct.ArrExtras  %}
                    <tr class="extrarow">
                            <td></td>
                            <td colspan="5" class="extracel">Extras:
                                {{ extra.naam }}
                                    </td>
                        </tr>
                            {% endfor %}
                            
                    {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="4"></td>
                    <td>Prijs:</td>
                    <td>{{mandje.totaal}}</td>
                </tr>
            {% else %}
                <tr>
                    <td>
                        Winkelmandje is leeg. Ga naar bestellen om items toe te voegen.
                    </td>
                </tr>
            {% endif %}
        </table>
        <form method="get">
            <input type="submit" name="bevestig" value="Bestelling plaatsen" />
        </form>
    </div>
</div>
{% endblock content %}